[Unit]
Description=Do It Yourself Adafruit IO sensors application 
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/aiosensors/aiosensors.py --g garage --d st7789 --w W
# ExecStart=/usr/bin/python3 /usr/local/aiosensors/aiosensors.py --g study --d st7789
# ExecStart=/usr/bin/python3 /usr/local/aiosensors/aiosensors.py --g livingroom --d st7789
[Install]
WantedBy=multi-user.target

